<app-employee-count [all]="getTotalEmployeesCount()"  [male]="getMaleEmployeesCount()"
[female]="getFemaleEmployeesCount()"  *ngIf="employees"
(countRadioButtonSelectionChanged)="onEmployeeCountRadioButtonChange($event)"
></app-employee-count>

<div class="form-group">
        <input type="text" class="form-control" placeholder="Search By Name"
                style="width:300px" [(ngModel)]="searchTerm" />
    </div>
 
 <!--<div *ngFor="let employee of employees  | employeeFilter:searchTerm">-->      
<div *ngFor="let employee of filteredEmployees">
           <div *ngIf="selectedEmployeeCountRadioButton=='All' ||
                       selectedEmployeeCountRadioButton==employee.gender">

            <app-display-employee [employee]="employee"></app-display-employee>
            <div>
</div>

        <span *ngIf="!employees">
         
                {{statusMessage}}
        </span>

        <span *ngIf="employees && employees.length==0">
            
                No employees to display
            </span>
  